<% @blog.images.each do |image| %>
    <a href="<%=url_for :controller => 'images', :action => :show %>"><img src="<%= url_for :controller => 'images', :action => :show, :id => image %>" width="160" /></a>
<% end %>

<% for column in Blog.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @blog.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @blog %> |
<%= link_to 'Back', :action => 'list' %>
