<h1>Editing blog_entry</h1>

<%= start_form_tag :action => 'update', :id => @blog_entry %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'back', :action => 'show', :id => @blog_entry %> |
